# Ignore arquivos e pastas do NetBeans
nbproject/private/
build/
nbbuild/
dist/
.nb-gradle/
*.orig

# Logs
*.log

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Compilados Java
*.class
*.jar
*.war
*.ear

# Arquivos do editor
*.swp
*~
*.bak

# Diretórios de cache do NetBeans
.netbeans/

# Arquivos Maven (caso use Maven)
target/

# Arquivos Gradle (caso use Gradle)
.gradle/
build/

# Arquivos de IDEs (caso abra com outras IDEs)
.idea/
*.iml

# Outras configurações locais
*.env
